body{
    padding: 50px;
}


p{
    cursor: pointer;
    margin: 0px;
}

.list-group-item{
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.complete{
    text-decoration: line-through;
}